*{ margin: 0; padding:0;box-sizing:border-box;
font-family: 'Sriracha', cursive;
}
.site-headers
{
width:100%;
height:100vh;
background:linear-gradient(57deg,#00c6a7,#1e4d92);
clip-path:polygon(0% 0%, 100% 0%,100% 75%, 0% 100%);

}

nav{
width:100%;height:100px; display:flex;color:white;
}
.logo{width:50%;height:100px;}

.logo h1{line-height:150px;padding-left:50px; font-size:40;}

.menu{width:50%;height:100px;}


.menu ul{width:115%;height:75px;justify-content:space-around;color:yellow;font-size:40;
}

.menu ul li{list-style:none;font-size:20px;font-weight:bold;  font-family:georgia;text-transform:uppercase;width:78px;height:70px;line-height:60px;text-align:center;float:left;}

.menu ul li a{text-decoration:none;}
section{display:flex;}

.menu ul li:hover{
background-color:#111111;
}

.menu ul ul{display:none;}

.menu ul li:hover>ul{
display:block;}


.leftside{width:45%;height:auto; overflow:hidden;margin-top:20px;}

.leftside img{width:600px;height:500px;}

.rightside{width:55%; height:500px;white; text-align:center;margin-top:90px;padding:40px; text-decoration:none;}


.rightside button{font-size:17px;font-weight:bold;color:white;text-tranform:uppercase;
background:linear-gradient(57deg,#00c6a7,#1e4d92);
border-radius:4px;padding:20px 35px;
text-decoration:none;
}
.rightside button:hover{
background:linear-gradient(57deg,#1e4d92,#00c6a7);
text-decoration:none;
}